[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
spectral-cube = "*"
numpy = "*"
matplotlib = "*"
jupyter = "*"
astropy = "*"
aplpy = "*"
jupyter-io = "*"
ipython = "*"
pandas = "*"

[requires]
python_version = "3.7"
